/*This application and all related files in this package were created by and belong to Calvin Marusin*/
/*Pertaining to the navigation bar and the search bar in particular*/

.search-container {
  margin: auto;
  width: 60%;
}

.search-container input[type=text] {
  display: inline-block;
  padding: 5.25px; /*To keep the input at the same height as the button*/
  margin-top: 24px;
  font-size: 17px;
  border: none;
}

.search-container button {
  display: inline-block;
  float: right;
  padding: 6.3px 10px;
  margin-top: -32px;
  margin-right: px;
  background: #376996;
  font-size: 17px;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.search-container button:hover {
  background: #ccc;
}